.flex-lg-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

ul.main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

    ul.main-menu > li.menu-item:first-child {
        padding-left: 0;
    }

    ul.main-menu .has-children {
        position: relative;
    }

    ul.main-menu > li.menu-item > a {
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        color: #333;
    }

    ul.main-menu > li.menu-item:hover > a {
        color: #C92127;
    }

.header-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end !important;
}

    .header-phone .icon {
        font-size: 34px;
        color: #C92127;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-right: 15px;
    }

    .header-phone p.number {
        font-weight: 700;
        color: #333;
    }

    .header-phone p:last-child {
        margin-bottom: 0;
    }

    .header-phone p {
        line-height: 1;
        margin-bottom: 5px;
    }

.site-brand{
    padding-bottom:25px
}

.site-brand > img {
    height: 39px;
}

.category-nav {
    position: relative;
    max-width: 270px;
    z-index: 180;
}

    .category-nav.show .category-menu {
        visibility: visible;
        opacity: 1;
        pointer-events: visible;
    }

.category-menu {
    list-style: none;
    margin: 0;
    width: 100%;
    position: absolute;
    border: 2px solid #eeeeee;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    background: #fff;
}

    .category-menu .has-children {
        position: relative;
    }

    .category-menu .cat-item {
        padding: 0 10px;
    }

    .category-menu .has-children > a {
        position: relative;
    }

    .category-menu .cat-item a {
        color: #333;
        text-decoration: none;
        font-size: 14px;
    }


    .category-menu .cat-item > a {
        border-bottom: 1px solid #d9d9d9;
        padding: 10px 25px 10px 15px;
        color: #555555;
        line-height: 26px;
        text-transform: capitalize;
        font-weight: 400;
        display: block;
    }
    /*@media (min-width: 992px)*/
    /*.category-menu .has-children > .sub-menu {
    border: 2px solid #eeeeee;
    position: absolute;
    display: block;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    width: 230px;
    left: 110%;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}*/
    .category-menu .has-children > .sub-menu {
        top: 0;
        width: 100%;
        background: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
        display: none;
        border-bottom: 1px solid #eeeeee;
    }

        .category-menu .has-children > .sub-menu > li {
            padding: 5px 27px;
            font-weight: 600;
        }

.category-nav .category-trigger i {
    margin-right: 8px;
    font-size: 16px;
}

.category-nav .category-trigger {
    text-align: center;
    position: relative;
    color: #000;
    text-decoration: none;
    border: 2px solid #eeeeee;
    display: block;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 20px 12px 20px;
}

.header-search-block {
    position: relative;
}

    .header-search-block input {
        font-size: 16px;
        color: #333;
        width: 100%;
        height: 52px;
        float: none;
        font-weight: 400;
        background: #fff;
        border: 2px solid #eee;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        padding: 0 125px 0 20px;
    }

    .header-search-block button {
        position: absolute;
        top: 0;
        right: 0;
        background: #62ab00;
        border: 0;
        line-height: 52px;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        margin: 0;
        font-size: 15px;
        font-weight: 700;
        padding: 0 35px;
        color: #fff;
        border-radius: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

.cart-widget {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

    .cart-widget .login-block {
        margin-right: 27px;
        padding: 6px 0;
        text-align: left;
    }

.home-slide {
    height: 410px;
    overflow:hidden;
}
.home-slide img{
    width:100%;
}

.cart-block {
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    color: #C92127;
    position: relative;
    line-height: 14px;
    letter-spacing: 0.7px;
    font-weight: 400;
    font-size: 13px;
    vertical-align: middle;
    margin: 0px 0px 0px 30px;
    border-width: 2px;
    border-style: solid;
    border-color: #C92127;
    border-image: initial;
    padding: 8px 11px;
    /*border-radius: 4px;*/
}

    .cart-block > i {
        font-size: 24px;
        margin-right: 12px;
    }

    .cart-block > span {
        font-size: 15px;
        font-weight: 700;
    }

.count-number {
    color: rgb(74, 74, 74);
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin-left: 9px;
    font-size: 12px;
    font-weight: 700;
    background: rgb(253, 216, 53);
    border-radius: 2px;
    padding: 0px 6px;
}

@media (min-width: 992px) {
    ul.main-menu .has-children.mega-menu > .sub-menu {
        width: 1000px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        left: auto;
        right: 0;
    }
    ul.main-menu > li.menu-item:first-child {
        padding-left: 0;
    }
    ul.main-menu .has-children:hover {
        z-index: 200;
    }
}
/*@media (min-width: 992px)  {
    ul.main-menu.menu-right .mega-menu .sub-menu {

    }
}*/
@media (min-width: 1200px) and (min-width: 992px) {
    ul.main-menu > li .sub-menu {
        padding: 30px;
    }

}
@media (min-width: 992px)  {
    ul.main-menu > li .sub-menu {
        padding: 20px 25px;
    }
}
@media (min-width: 992px)  {
    ul.main-menu > li .sub-menu {
        width: 200px;
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        border: 2px solid #eee;
        margin-top: -1px;
        opacity: 0;
        pointer-events: none;
    }
}
.menu-item:hover.sub-menu{
    display:block;
}
.info-user {
    width: 150px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
