@using QLNhaSachFahasa.Resources
@{
    ViewBag.Title = "Fahasa - " + Html.Raw(ViewText.Title_Statistic_Order_By_Day);
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome.cshtml";
}
@section slider{
    @Html.Partial("_MenuLeft")
}
@section title{
    @ViewText.Title_Statistic_Order_By_Day
}

<div class="container">
</div>

@section scripts{
    <script>

    </script>
}
