@using QLNhaSachFahasa.Resources
@{
    ViewBag.Title = "Error401";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome.cshtml";
}
@section title{
    @ViewText.TITLE_ERROR
}
<div class="col-12">
    @*<div class="panel-title mb-4"></div>*@
    <div class="alert alert-danger">@ViewText.TEXT_PAGE_ERROR</div>

</div>

